<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统 - shangCMS</title>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.css">
    <script src="__ADMIN__/js/jquery.min.js"></script>
    <style>
        .layui-form-item .layui-input-inline {
        width: 360px;
    }
    .layui-form-label {
        width: 120px;
    }
    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        {include file="public/header" /}

        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <!--面包屑导航-->
                <div class="layui-card layadmin-header">
                    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                        <a href="{:url('index/index')}">主页</a><span lay-separator="">/</span>
                        <a href="{:url('flink/index')}">友情链接</a><span lay-separator="">/</span>
                        <a><cite>编辑友情链接</cite></a>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-card">
                            <div class="layui-card-header">
                                    <h2>编辑友情链接</h2>
                                </div>
                        <div class="layui-card-body" pad15>
                            <form class="layui-form">
                                {:token()}
                                <div class="layui-form-item">
                                    <label class="layui-form-label">网站名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off"
                                            placeholder="请输入网站名称" class="layui-input" value="{$item.title}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">URL地址</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="url" lay-verify="url" autocomplete="off" placeholder="请输入链接地址http://开头"
                                            class="layui-input" value="{$item.url}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">是否显示</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" id="status" name="status" lay-skin="switch" lay-filter="status"
                                            lay-text=" 显示|不显示" {if condition="$item.status eq 1" }checked value="1"{else /}value="0"{/if}>
                                    </div> 
                                </div>                                           
                                <div class="layui-form-item">
                                        <label class="layui-form-label">备注</label>
                                        <div class="layui-input-inline">
                                            <textarea placeholder="请输入内容" name="description" class="layui-textarea">{$item.description}</textarea>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <input type="hidden" name="id" value="{$item.id}">
                                            <button class="layui-btn" lay-submit lay-filter="flinkAdd">保存</button>
                                            <a href="{:url('Flink/index')}" class="layui-btn layui-btn-lg layui-btn-primary">返回</a>
                                        </div>
                                    </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        {include file="public/footer" /}
    </div>
    <script src="__LAYUI__/layui.js"></script>
    <script src="__ADMIN__/js/main.js"></script>
    <script>
        var flink_edit = "{:url('Flink/edit')}";
        layui.use(['jquery','form','element'], function () {
            var form = layui.form,$ = layui.$,element = layui.element;

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 3 || value.length > 20) {
                        return '网站标题长度在3-20字符之间！';
                    }
                },
                description: function (value) {
                    if (value.length > 100) {
                        return '备注不能大于100字符！';
                    }
                }
            });

            //监听指定开关
            form.on('switch(status)', function (data) {
                // layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                //     offset: '6px'
                // });
                if(this.checked){
                    $('#status').val(1);
                } else {
                    $('#status').val(0);
                }
                layer.tips('是否在前台显示', data.othis)
            });
            form.render("checkbox");

            form.on('submit(flinkAdd)', function (data) {
                var $form = $(this).parents('form');
                // var index = layer.load(2);
                $.ajax({
                    type: "POST",
                    url: flink_edit,
                    data: $form.serialize(),
                    dataType: 'json',
                    success: function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg, {
                                icon: 6
                            }, function () {
                                window.location.href = res.url;
                            });
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            }, function () {
                                return false;
                            });
                        }
                    },
                    error: function (res) {
                        layer.msg('服务器出错，请稍后重新操作！');
                        return false;
                    }
                });
                return false;
            });


        });
    </script>

</body>

</html>