{include file="public/top" /}
<style>
        .layui-form-select dl {
            z-index: 9999;
        }
        .layui-form-select dl dd {
            line-height: 30px;
        }
    </style>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        {include file="public/header" /}
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <!--面包屑导航-->
                <div class="layui-card layadmin-header">
                    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                        <a href="{:url('Index/index')}">主页</a><span lay-separator="">/</span>
                        <a href="{:url('Article/index')}">文章列表</a><span lay-separator="">/</span>
                        <a><cite>添加文章</cite></a>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <h2>添加文章</h2>
                        </div>
                        <div class="layui-card-body">
                            <form class="layui-form" enctype="multipart/form-data">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">栏目</label>
                                    <div class="layui-input-block">
                                            <select name="catid" lay-verify="required">
                                                    {volist name="categorylist" id="vo"}
                                                    <option value="{$vo.catid}">{neq name="vo.level" value="0"
                                                        }|{/neq} <?php echo str_repeat('-',$vo['level']*4)?>{$vo.catname}</option>
                                                    {/volist}

                                                </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">文章标题</label>
                                    <div class="layui-input-inline" style="width:80%">
                                        <input type="text" name="title" required lay-verify="title" autocomplete="off"
                                            placeholder="请输入文章标题" class="layui-input" id="title">
                                        <input type="hidden" name="style" id="style_color" value="">
                                    </div>
                                    <div class="layui-form-xs layui-word-aux"><span id="title-color"></span></div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">关键词</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="keywords" lay-verify="keywords" autocomplete="off" placeholder="用,分开" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">描述</label>
                                    <div class="layui-input-block">
                                        <textarea name="description" class="layui-textarea" lay-verify="description"></textarea>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">文章内容</label>
                                    <div class="layui-input-block">
                                        {load
                                        href="__STATIC__/editor/ueditor/ueditor.config.js,__STATIC__/editor/ueditor/ueditor.all.min.js,__STATIC__/editor/ueditor/lang/zh-cn/zh-cn.js"
                                        /}
                                        <textarea id="editor" style="width:100%;height:400px;" name="content"></textarea>
                                        <script type="text/javascript">
                                            var ue = UE.getEditor('editor');
                                        </script>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">栏目图片</label>
                                    <input type="hidden" name="thumb" id="thumb">
                                    <div class="layui-input-block">
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-primary" id="articleBtn"><i
                                                    class="layui-icon layui-icon-upload-drag"></i>点击上传</button>
                                            <div class="layui-upload-list">
                                                <img class="layui-upload-img" id="cateImage">
                                                <p id="demoText"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="layui-form-item">
                                    <label class="layui-form-label">缩略图</label>
                                    <div class="layui-input-inline">
                                        <input name="thumb" id="thumb_url" placeholder="图片地址"
                                            value="" class="layui-input">
                                    </div>
                                    <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                        <button type="button" class="layui-btn layui-btn-primary" id="thumbUpload">
                                            <i class="layui-icon layui-icon-upload-drag"></i>上传图片
                                        </button>
                                        <input class="layui-upload-file" type="file" accept="undefined" name="file">
                                        <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview"><i
                                                class="layui-icon layui-icon-picture"></i>查看图片</button>
                                    </div>
                                </div> -->
                                <!-- <div class="layui-form-item">
                                    <label class="layui-form-label">发布时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="inputtime" class="layui-input" id="inputtime"
                                            placeholder="yyyy-MM-dd HH:mm:ss">
                                    </div>
                                </div> -->
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                                        <a class="layui-btn layui-btn-primary" href="{:url('Article/index')}">返回</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {include file="public/footer" /}
    </div>
    <script src="__LAYUI__/layui.js"></script>
    <script src="__ADMIN__/js/main.js"></script>
    <script>
        var upload_url = "{:url('Index/upload')}";
        var article_add = "{:url('Aritcle/add')}";
        var article_index = "{:url('Article/index')}";
        layui.use(['form', 'colorpicker', 'laydate', 'upload', 'jquery','element'], function () {
            var form = layui.form,
                colorpicker = layui.colorpicker,
                element = layui.element,
                laydate = layui.laydate,
                upload = layui.upload,
                $ = layui.$;

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length > 80) {
                        return '文章标题长度超出限制！';
                    }
                },
                keywords: function (value) {
                    if (value.length > 120) {
                        return '关键词长度不能大于120字符！';
                    }
                },
                description: function (value) {
                    if (value.length > 250) {
                        return '描述不能大于250字符！';
                    }
                }
            });

            // laydate.render({
            //     elem: '#inputtime',
            //     type: 'datetime',
            //     value: new Date()
            // });

            colorpicker.render({
                elem: '#title-color',
                color: '#333333',
                predefine: true,
                size: 'xs',
                done: function (color) {
                    $('#style_color').val(color);
                    // layer.tips('给标题设置颜色值：' + color, this.elem);
                    color || this.change(color); //清空时执行 change
                },
                change: function (color) {
                    $('#title').css('color', color);
                }
            });


            var uploadInst = upload.render({
                elem: '#articleBtn',
                url: '{:url("index/upload")}',
                done: function (res) {
                    if (res.code > 0) {
                        $('#thumb').val(res.url);
                        $('#cateImage').attr('src', res.url);
                    } else {
                        //如果上传失败
                        return layer.msg('上传失败');
                    }
                },
                error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html(
                        '<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>'
                    );
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });

            form.on('submit(submit)', function (data) {
                var $form = $(this).parents('form');
                var loading = layer.load(1, {
                    shade: [0.1, '#fff']
                });
                $.ajax({
                    type: "POST",
                    url: "{:url('article/add')}",
                    data: $form.serialize(),
                    dataType: 'json',
                    success: function (res) {
                        layer.close(loading);
                        if (res.code == 1) {
                            layer.msg(res.msg, {
                                time: 1800,
                                icon: 6
                            }, function () {
                                window.location.href = res.url;
                            });
                        } else {
                            layer.msg(res.msg, {
                                icon: 5
                            }, function () {
                                return false;
                            });
                        }
                    },
                    error: function (res) {
                        layer.close(loading);
                        layer.msg('服务器出错，请稍后重新操作！');
                        return false;
                    }
                });
                return false;
            });


        });
    </script>

</body>

</html>